<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Welcome to Positive Ceremonies! My name is Sergio, a roboticist from
          Puerto Rico, thrilled for the opportunity to be a part of your special
          day. As an experienced wedding officiant, my mission is to create a
          joyful and memorable ceremony that reflects your unique love
          story.</p>

        <p>I will guide you through the entire process, from crafting
          personalized vows to incorporating meaningful rituals or cultural
          elements that hold significance for you.</p>
      </div>
      <div class="col-lg-4">
        <p>It is my utmost priority to ensure that your ceremony captures the
          essence of your relationship and creates an atmosphere filled with
          love, laughter, and positive energy. Whether you envision an intimate
          gathering or a grand celebration, I am dedicated to working closely
          with you to craft a ceremony that resonates with your hearts.</p>

        <p>If you're interested in learning more about my services or requesting
          references from staisfied clients, please send me a message using the
          form below. We can also schedule a free, no-strings attached chat to
          explore if I can be the offiant for you.</p>
      </div>
      <!-- <div class="col-lg-8 col-lg-offset-2 text-center"> -->
      <!--   <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline"> -->
      <!--     <i class="fa fa-download"></i> Download Theme -->
      <!--   </a> -->
      <!-- </div> -->
    </div>
  </div>
</section>
